<MudTooltip>
    <ChildContent>
        <MudToggleIconButton Icon="@Icons.Material.Filled.FontDownloadOff"
                             ToggledIcon="@Icons.Material.Filled.FontDownload"
                             Color="Color.Inherit"
                             ToggledColor="Color.Inherit"
                             @bind-Toggled="ViewModel.AutoSymbolReplace" />
    </ChildContent>
    <TooltipContent>
        <div style="Width: 100px">
            <div class="d-flex justify-space-between">
                <MudText>aa</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ā</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>ii</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ī</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>uu</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ū</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>~n</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ñ</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>.n</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ṇ</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>.d</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ḍ</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>.l</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ḷ</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>.m</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ṃ</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>.t</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ṭ</MudText>
            </div>
            <div class="d-flex justify-space-between">
                <MudText>"n</MudText>
                <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt" Size="Size.Small" />
                <MudText>ṅ</MudText>
            </div>
        </div>
    </TooltipContent>
</MudTooltip>